/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: dodgerblue;
}

h1, 
p {
     text-align: center;
}

p {
     padding-bottom: 30px;
}

#start-button {
     margin: 0 auto;
     display: flex;
     max-width: 100px;
}
/******************************************
/* LAYOUT
/*******************************************/
section {
     width: 850px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
}

.img {
     width: 200px;
     height: 200px;
}

.gallerycard {
     width: 200px;
     height: 200px;
     border: 1px solid black;
     background: wheat;
}
.hidden {
     visibility: hidden;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
